* {
  font-family: 'Roboto', sans-serif;
}
.list-inline li{
  display: inline;
  list-style: none;
}
.box {
height: 100px;
width: auto;
background-color: red;
margin-bottom: 10px;
}
/* HEADER TOP  */
header {
  background-color: lightgrey;
}

.header_top {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  color:black;
  z-index: 1;
  top: 0;
  left: 0;
}

.header_top .logo img {
  width: 180px;
  height: auto;
  margin-top: 12px;
}

.menu li a {
  font-size: 15px;
  color: hsl(221,93%,16%);
  text-decoration: none;
}
.menu li a:hover {
  color:#006aff;
}
.hamburger {
  display: none;
}

.btn_signup {
  border: 1px solid  #006aff;
  color: #006aff;
}
/* / HEADER TOP */
/* HEADER BOTTOM  */
.header_bottom {
  background-color:#0069ff;
  background-image:url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -100px;
  height: 470px;
}

.header_bottom h1 {
  font-size: 62px;
  line-height: 60px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
}
.header_bottom p {
 color:lightgrey;
 font-size: 23px;
 line-height: 30px;
}

.header_bottom .form-contact {
  background-color: white;
  border-radius: 5px;
  height: 350px;
  margin-top: 70px;
}

.form-contact h2{
  font-weight: bold;
  padding-top: 40px;
}
.form-contact p {
  color: #006aff;
  font-weight: bold;

}
.form-contact .form-group {
  width: 90%;
  margin: auto;
}
.form-contact button {
  width: 90%;
}
#password {
  margin-top: -10px;
  margin-bottom: 10px;
}

.button-account {
  background-color: #006aff;
  color:white;
  border:none;
  margin-bottom: 10px;
}

.button-google {
  color: grey;
}
.fa-google {
  color:red;
}
/* / HEADER BOTTOM */
/* SEZIONE PARTNERS */
#partners {
  height: 250px;
  background-color: white;
}
#partners h2 {
  font-size: 17px;
  font-weight: 400;
  color: #5b6987;
  margin-top: 40px;
  margin-bottom: 30px;
}
#partners img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

#slack , #splunk {
  margin-top: 10px;
}

#partners a {
  font-size: 17px;
  font-weight: 400;
  color: #1633ff;
  text-decoration: none;
}
#partners a:hover {
  color: #465DFE;
}

/* / SEZIONE PARTNERS */
/* SEZIONE MANAGEMENT */
#management h2 {
  font-size: 35px;
  line-height: 40px;
  color: #031b4e;
  font-weight: bold;
}
#management h3 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  color: #5b6987;
}

#management li a{
  font-size: 20px;
  line-height: 25px;
  color:rgba(3, 27, 78, 0.6);
}

#management li {
  list-style: none;
  margin-bottom: 20px;
}
.deploy {
  margin-top: 50px;
  border-left: 1px solid lightgrey;
  padding-left:10px;
}

.boxes-top {
  margin-top: 50px;
}
#management .boxes-top h3 , #management .boxes-bottom h3  {
  font-size: 20px;
  line-height: 20px;
  color: #031b4e;
  font-weight: bold;
}
#management p {
 line-height: 25px;
 color: #5b6987;
}
/* / SEZIONE MANAGEMENT */

/* SEZIONE DESIGN */
#design h2 {
  font-size: 35px;
  line-height: 40px;
  color: #031b4e;
  font-weight: bold;
}
#design p {
  color: #5b6987;
  font-size: 20px;
  margin: 30px 0 50px 0;
}
.arrow {
  font-size: 40px;
  color: #031b4e;
  vertical-align: middle;
  line-height: 360px;
}
#design h4 {
  font-size: 15px;
  color: #031b4e;
  font-weight: bold;
}
.fa-circle {
  color: #076DFF;
  font-size: 12px;
}

.first-circle {
  background-color: #076DFF;
  border-radius: 50%;
}

#design li {
  padding: 0;
}
/* / SEZIONE DESIGN */

/* SEZIONE FEATURES */

/*/ SEZIONE FEATURES */

.m_top {
  margin-top: 60px;
}

#regions {
  background-color: lightblue;
}

#start {
  background-color: blue;
}



/* RESPONSIVE */
@media screen and (max-width: 991px) {
  .hamburger {
    display: inline-block;
    text-align: right;
  }
  nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
.arrow {
  display: none;
}
}
