* {
  font-family: 'Roboto', sans-serif;
}
.list-inline li{
  display: inline;
  list-style: none;
}
.box {
height: 100px;
width: auto;
background-color: red;
margin-bottom: 10px;
}
/* HEADER TOP  */
header {
  background-color: lightgrey;
}

.header_top {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  color:black;
  z-index: 1;
  top: 0;
  left: 0;
}

.header_top .logo img {
  width: 180px;
  height: auto;
  margin-top: 12px;
}

.menu li a {
  font-size: 15px;
  color: hsl(221,93%,16%);
  text-decoration: none;
}
.menu li a:hover {
  color:#006aff;
}
.hamburger {
  display: none;
}

.btn_signup {
  border: 1px solid  #006aff;
  color: #006aff;
}
/* / HEADER TOP */
/* HEADER BOTTOM  */
.header_bottom {
  background-color:#0069ff;
  background-image:url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -100px;
  height: 470px;
}

.header_bottom h1 {
  font-size: 62px;
  line-height: 60px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
}
.header_bottom p {
 color:lightgrey;
 font-size: 23px;
 line-height: 30px;
}

.header_bottom .form-contact {
  background-color: white;
  border-radius: 5px;
  height: 350px;
  margin-top: 70px;
}

.form-contact h2{
  font-weight: bold;
  padding-top: 40px;
}
.form-contact p {
  color: #006aff;
  font-weight: bold;

}
.form-contact .form-group {
  width: 90%;
  margin: auto;
}
.form-contact button {
  width: 90%;
}
#password {
  margin-top: -10px;
  margin-bottom: 10px;
}

.button-account {
  background-color: #006aff;
  color:white;
  border:none;
  margin-bottom: 10px;
}

.button-google {
  color: grey;
}
/* / HEADER BOTTOM */
/* SEZIONE PARTNERS */
#partners {
  height: 300px;
  background-color: lightgreen;
}
#partners img {
  vertical-align: middle;
  width: 100px;
  height: auto;
  background-color: red;
}
.m_top {
  margin-top: 60px;
}

#regions {
  background-color: lightblue;
}

#start {
  background-color: blue;
}



/* RESPONSIVE */
@media screen and (max-width: 991px) {
  .hamburger {
    display: inline-block;
    text-align: right;
  }
  nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
.arrow {
  display: none;
}
}
