* {
  font-family: 'Roboto', sans-serif;
}
.list-inline li{
  display: inline;
  list-style: none;
}
.box {
height: 100px;
width: auto;
background-color: red;
margin-bottom: 10px;
}
/* HEADER TOP  */
header {
  background-color: lightgrey;
}

.header_top {
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: white;
  color:black;
  z-index: 1;
  top: 0;
  left: 0;
}

.header_top .logo img {
  width: 180px;
  height: auto;
  margin-top: 12px;
}

.menu li a {
  font-size: 15px;
  color: hsl(221,93%,16%);
  text-decoration: none;
}
.menu li a:hover {
  color:#006aff;
}
.hamburger {
  display: none;
  color:#006aff;
  font-size: 20px;
}

.btn_signup {
  border: 1px solid  #006aff;
  color: #006aff;
}
/* / HEADER TOP */
/* HEADER BOTTOM  */
.header_bottom {
  background-color:#0069ff;
  background-image:url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 470px;
}

.header_bottom h1 {
  font-size: 62px;
  line-height: 60px;
  color: white;
  font-weight: 600;
  margin-top: 100px;
}
.header_bottom p {
 color:lightgrey;
 font-size: 23px;
 line-height: 30px;
}

.header_bottom .form-contact {
  background-color: white;
  border-radius: 5px;
  height: 360px;
  margin-top: 70px;
}

.form-contact h2{
  font-weight: bold;
  padding-top: 40px;
}
.form-contact p {
  color: #006aff;
  font-weight: bold;

}
.form-contact .form-group {
  width: 90%;
  margin: auto;
}
.form-contact button {
  width: 90%;
}
#password {
  margin-top: -10px;
  margin-bottom: 10px;
}

.button-account {
  background-color: #006aff;
  color:white;
  border:none;
  margin-bottom: 10px;
}

.button-google {
  color: grey;
}

.button-google img {
  width: 20px;
  height: auto;
}
/* / HEADER BOTTOM */
/* SEZIONE PARTNERS */
#partners {
  height: 250px;
  background-color: white;
}
#partners h2 {
  font-size: 17px;
  font-weight: 400;
  color: #5b6987;
  margin-top: 40px;
  margin-bottom: 30px;
}
#partners img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}
#partners ul li {
  vertical-align: middle;
}

#partners #gitlab {
  width: 130px;
  height: auto;
}
#partners #wework {
  padding-bottom: 10px;
}
#partners a {
  font-size: 17px;
  font-weight: 400;
  color: #1633ff;
  text-decoration: none;
}
#partners a:hover {
  color: #465DFE;
}

/* / SEZIONE PARTNERS */
/* SEZIONE MANAGEMENT */
#management h2 {
  font-size: 35px;
  line-height: 40px;
  color: #031b4e;
  font-weight: bold;
}
#management h3 {
  font-size: 23px;
  line-height: 30px;
  font-weight: 400;
  color: #5b6987;
}

#management li a{
  font-size: 20px;
  line-height: 25px;
  color:rgba(3, 27, 78, 0.6);
}

#management li {
  list-style: none;
  margin-bottom: 20px;
}
.deploy {
  margin-top: 50px;
  border-left: 1px solid lightgrey;
  padding-left:10px;
}

.boxes-top {
  margin-top: 50px;
}
#management .boxes-top h3 , #management .boxes-bottom h3  {
  font-size: 20px;
  line-height: 20px;
  color: #031b4e;
  font-weight: bold;
}
#management p {
 line-height: 25px;
 color: #5b6987;
}
/* / SEZIONE MANAGEMENT */

/* SEZIONE DESIGN */
#design h2 {
  font-size: 35px;
  line-height: 40px;
  color: #031b4e;
  font-weight: bold;
}
#design p {
  color: #5b6987;
  font-size: 20px;
  margin: 30px 0 50px 0;
}
.arrow {
  font-size: 40px;
  color: #031b4e;
  vertical-align: middle;
  line-height: 360px;
}
#design h4 {
  font-size: 15px;
  color: #031b4e;
  font-weight: bold;
}
.fa-circle {
  color: #076DFF;
  font-size: 12px;
}

.first-circle {
  background-color: #076DFF;
  border-radius: 50%;
}

#design li {
  padding: 0;
}
/* / SEZIONE DESIGN */

/* SEZIONE FEATURES */
#features {
  margin-top: 100px;
}

#features h2 {
  font-size: 35px;
  line-height: 40px;
  color: #031b4e;
  font-weight: bold;
  margin-bottom: 50px;
}

#features h3 {
  font-size: 20px;
  line-height: 20px;
  color: #031b4e;
  font-weight: bold;
}
#features p {
  line-height: 25px;
  color: #5b6987;
}
#features a {
  color: #076DFF;
  font-size: 16px;
  font-weight: 600;
}
#features a:hover {
  color: #1633ff;
  text-decoration: none;
}

 .m_top {
  margin-top: 60px;
}

/*/ SEZIONE FEATURES */

/* SEZIONE REGIONS */

#regions {
  background-color: #031b4e;
  background-image: url(https://images.prismic.io/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg?auto=compress,format);
  height: 450px;
  color:white;
}
#regions h2 {
  color: white;
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
}

#regions ul{
  border-bottom: 1px solid white;
  padding: 5px;
}

#regions .new-york {
  border-bottom: none;
}

#regions ul::after{
  content: '';
  display: table;
  clear: both;
}

#regions .city {
  color: lightgrey;
  margin-left: 40px;
}
.test-speed {
  float: right;
}
.test-speed a{
  color:#00d7d2;
}
.test-speed a:hover {
  color: #1633ff;
  text-decoration: none;
}
/* /SEZIONE REGIONS */

/* SEZIONE DEVELOPMENT TEAMS */
#development-teams .carousel {
  height: 360px;
  background-color: white;
}
#development-teams h2 {
  font-size: 35px;
  line-height: 40px;
  color: #031b4e;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 80px;
}

#development-teams .carousel img {
  margin: 50px 0;
}
#development-teams .carousel p {
  font-size: 20px;
  line-height: 30px;
  color: #5b6987;
  text-align: center;
}
#development-teams h4 {
  font-size: 17px;
  color: #031b4e;
  font-weight: bold;
}
#development-teams h5 {
  font-size: 15px;
  color: #031b4e;
  margin-bottom: 30px;
}
#development-teams a {
  color: #076DFF;
  font-size: 16px;
  font-weight: 600;
}

#development-teams a:hover {
  color: #1633ff;
  text-decoration: none;
}
#development-teams .fa-circle {
  margin: 50px 0;
}
#development-teams li {
  padding: 0;
}
/*/ SEZIONE DEVELOPMENT TEAMS */

/* SEZIONE START */
#start {
  background-color:#0069ff;
  background-image:url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
.get-started {
  margin-top: 80px;
}
.get-started h2 {
  color: white;
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 30px;
}

.get-started button {
  color:
  border:none;
  padding: 10px;
  font-size: 16px;
  color: #006aff;
  font-weight: bold;
}

.get-started button:hover {
  background-color: #CBD4E4;
  color: #006aff;
}
/* / SEZIONE START */
/* FOOTER */
footer {
  background-color: #010E28;
  color: #636B7B;
  height: 500px;
}
footer ul li {
  list-style: none;
}
footer ul {
  padding-left: 20px;
}

footer ul > li {
  color:white;
  font-weight: bold;
  font-size: 20px;
}
#services a {
  color: #636B7B;
  font-size: 15px;
}
footer > div {
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  font-size: 15px;
  font-weight:bold;
}

.social i {
  color: #636B7B;
  font-size: 25px;
}
.social i:hover {
  color:white;
}
footer h6 {
  font-weight: bold;
  font-size: 15px;
}
#services a:hover {
  color:white;
  text-decoration: none;
}
 /* POPUP SQUALO */
 .fumetto {
   height: 65px;
   width: 350px;
   background-color: white;
   float: left;
   border-radius: 5px;
   position: relative;
 }
  .fumetto p{
    color: #031b4e;
    padding-left: 10px;
  }
  .fumetto i {
    color:white;
    position: absolute;
    right: -3px;
    bottom: 10px;
    transform: rotate(90deg);
    font-size: 28px;
  }
 .squalo {
   float: left;
   margin-left: 20px;
   position: relative;
   margin-top: 5px;
 }
 .squalo img {
   border-radius: 10px;
 }
 .popup:after {
   content: '';
   display: table;
   clear: both;
 }
 .popup {
   position: fixed;
   right: 50px;
   bottom: 30px;
   z-index: 2;
 }
 .number {
   position: absolute;
   top: -25px;
   right: -7px;
   color: white;
   background-color: red;
   border-radius: 50%;
   padding: 3px 7px;
   border: 4px solid white;
 }
 /*/ POPUP SQUALO */


/*/ FOOTER */

/* RESPONSIVE */
@media screen and (max-width: 991px) {
  .hamburger {
    display: inline-block;
    text-align: right;
  }
  nav {
    display: none;
  }
  .header_bottom {
    height: 600px;
  }

  .header_bottom h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .header_bottom .form-contact {
    height: 400px;
  }
  #partners #gitlab {
    width:90px;
    height: auto;
  }
  .arrow {
    line-height: 225px;
  }
  #design h4 {
    margin: 30px 0 80px 0;
  }
  #regions {
    height: 750px;
  }
  .new-york {
    margin-bottom: 30px;
  }
  #development-teams .arrow {
    line-height: 360px;
  }
  #development-teams .carousel p {
    font-size: 21px;
    line-height: 30px;
  }
  #development-teams .list-inline {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  footer {
    height: 950px;
  }
  #services ul{
    margin: 0;
    padding:0;
  }
  #services div {
    margin: 0;
    padding:0;
  }

  footer .head-list {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
  .header_bottom {
    height: 900px;
  }
  #partners {
    height: 400px;
  }
  #partners img{
    margin:auto;
    margin-bottom: 50px;
  }
  #partners #gitlab {
    width:130px;
    height: auto;
  }
  #slack {
    margin-top: 0px;
  }
  #drocker {
    margin-bottom: 10px;
  }
  .boxes-top {
    margin-top:10px;
  }
  .padding-0 {
    padding-left: 0;
  }
  #design .carousel img {
    width: 70%;
    margin:auto;
  }
  #features img {
    margin: 20px 0 30px 0;
  }

  #development-teams .list-inline {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  footer {
    height: 1400px;
  }
}
